body {
  width: 100%;
  height: 100%;
  background: white;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #369831;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}